:root {
	--background-color: 28, 27, 34;
}
body {
	background: rgb(var(--background-color));
	color: white;
}
hr {
	width: 90%;
	height: 0;
	border: 0px;
	border-bottom: 1px solid #5a5a5a;
	margin: 0px auto;
}
.tabsDiv:empty {
	display: none;
}
.tabsDiv {
	padding: 3px;
}
.tab {
	display: flex;
	align-items: center;
	border-radius: 2px;
	margin-bottom: 4px;
	margin-top: 4px;
	box-sizing: border-box;
	--tab-color: var(--background-color);
	background: rgb(var(--tab-color));
	position: relative;
	overflow: hidden;
}
.iconAndBadge {
	flex-shrink: 0;
	margin: 5px;
	height: 16px;
	width: 16px;
	position: relative;
}
.tabIcon {
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	transition: opacity 200ms ease, transform 200ms ease;
}
.tabIcon[src=""] {
	visibility: hidden;
}
.tab.loading > .tabIcon {
	opacity: 0.7;
	transform: scale(0.9);
}
.badge {
	position: absolute;
	width: 12px;
	height: 12px;
	bottom: -3px;
	right: -3px;
	border-radius: 50%;
	background: rgba(var(--tab-color), 0.7);
}
.badge:empty {
	display: none;
}
.badge > .loadingIndicator {
	border-radius: 50%;
	border: 3px solid rgba(0, 0, 0, 0);
	border-top: 3px solid #4fb7f8;
	width: 100%;
	height: 100%;
	animation: loading 400ms linear infinite;
}
@keyframes loading {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.tab.discarded {
	opacity: 0.7;
}
.tab > * {
	z-index: 2;
}
.tab.dragging {
	z-index: 4;
	pointer-events: initial !important;
}
.tab.drawingAttention {
	font-weight: bold;
}
.tab.justLoaded:after {
	content: "";
	position: absolute;
	left: 0;
	height: 100%;
	z-index: 1;
	background: rgb(51, 102, 212);
	border-radius: 0px 5px 5px 0px;
	animation: finishLoad 400ms ease-out;
}
@keyframes finishLoad {
	from {
		width: 0%;
		opacity: 90%;
	}
	to {
		opacity: 0%;
		width: 100%;
	}
}
.tabText {
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	width: 100%;
	margin-right: 5px;
	margin-left: 2px;
	flex-shrink: 10;
}
.tabCloseBtn {
	display: none;
	width: 20px;
	margin-right: 5px;
	padding: 4px;
	cursor: pointer;
}
.tabCloseBtn:hover {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 3px;
}
.containerIndicator {
	width: 2px;
	margin-right: 1px;
	align-self: stretch;
}
.tabText:after {
	content: "";
	position: absolute;
	right: 0;
	width: 20px;
	bottom: 0;
	top: 0;
	background: linear-gradient(to right, transparent, rgb(var(--tab-color)));
}
.tab.activeTab {
	--tab-color: 66, 65, 77;
}
.tab:hover:not(.activeTab) {
	--tab-color: 51, 50, 57;
}
.tab:hover > .tabCloseBtn {
	display: block;
}
