section {
	background: #181818;
	box-shadow: 0 2px 7px 0 #000000aa;
	border-radius: 3px;
	padding-bottom: 20px;
	margin-bottom: 50px;
}

section:last-child {
	margin-bottom: 0;
}

section>.section-header {
	background: #272727;
	padding: 15px 45px;
}

.section-header>h1 {
	font-size: xx-large;
	font-weight: bold;
	color: white;
}