section {
	background: #181818;
	box-shadow: 0 2px 7px 0 #000000aa;
	border-radius: 3px;
	padding-bottom: 20px;
	margin-bottom: 50px;
}

section:last-child {
	margin-bottom: 0;
}

section>.section-header {
	background: #272727;
	padding: 15px 45px;
}

.section-header>h1 {
	font-size: xx-large;
	font-weight: bold;
	color: white;
}

h2.css-code-copy-label {
	font-size: 19px; 
	margin: 20px 0 15px 0;
}

.abc-warning {
	margin: 30px 0 10px 0;
}

.section-header p {
	margin-bottom: 30px;
}

.css-code-copy-container {
	margin: 60px 45px 40px 45px;
}