@font-face {
  font-family: "Metropolis";
  font-display: fallback;
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/Metropolis-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Metropolis";
  font-display: fallback;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Metropolis-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Metropolis";
  font-display: fallback;
  font-weight: normal;
  font-style: italic;
  src: url("/fonts/Metropolis-RegularItalic.ttf") format("truetype");
}
a {
  color: #0290c3;
  text-decoration: none;
}
body {
  background: #0f0f0f;
  /* color: #f0f0f0; */
  color: white;
  font-family: "Metropolis", sans-serif;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#reactRoot {
  display: flex;
  height: 100%;
}

.options-side-pane {
  width: 350px;
  padding: 50px 30px 50px 75px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
}

.options-scroll-box {
  overflow-y: scroll;
  flex-grow: 1;
  height: 100%;
  padding: 50px 75px 50px 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.options {
  min-width: 500px;
  max-width: 800px;
  font-size: 0.95em;
  user-select: none;
}

.option-field {
  margin: 15px 0px;
}

.options-side-pane > header {
  display: flex;
  align-items: center;
}

.options-side-pane > header > .sidetabs-icon {
  width: 50px;
  fill: white;
}

.options-side-pane > header > h1 {
  font-size: 2.5em;
  margin-left: 15px;
}

.reset-button {
  background: none;
  border: none;
  outline: none;
  border-radius: 0;
  font-weight: normal;
  font-size: 0.9em;
  color: #0290c3;
  cursor: pointer;
  padding: 0;
}

.options-side-pane > .big-gap {
  flex-grow: 1;
}

.options-side-pane > p {
  font-size: 0.9em;
}

.popup-dimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000000aa;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-popup {
  background: #181818;
  box-shadow: 0 2px 7px 0 #000000aa;
  border-radius: 3px;
  padding: 30px;
}

.reset-popup-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  gap: 20px;
}

.bottom-buttons {
  display: flex;
  justify-content: flex-end;
}
.bottom-buttons > a {
  margin-left: 15px;
}
