@font-face {
	font-family: "Metropolis";
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url("../assets/fonts/Metropolis-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Metropolis";
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url("../assets/fonts/Metropolis-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Metropolis";
	font-display: fallback;
	font-weight: normal;
	font-style: italic;
	src: url("../assets/fonts/Metropolis-RegularItalic.ttf") format("truetype");
}
a {
	color: #0290c3;
	text-decoration: none;
}
body {
	background: #0f0f0f;
	color:white;
	font-family: "Metropolis", sans-serif;
	padding: 0;
	margin: 0;
}

.kbd {
	display: inline-block;
	font-family: sans-serif;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0.15em 0.25em 0.07em 0.25em;
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px rgb(0, 0, 0) inset;
	background-color: #1d1d1d;
}

.customising-section:hover .custom-diagram svg .top-bar,
.customising-section:hover .custom-diagram svg .page-content {
	transform: translateY(-32);
}
.customising-section:hover .custom-diagram svg .sidebar {
	transform: translateY(-57.6);
}

.custom-diagram svg .top-bar,
.custom-diagram svg .page-content,
.custom-diagram svg .sidebar {
	transition: transform 0.5s ease-in-out;
}

.linkButtonDupe {
	display: flex;
	color: #0290C3;
	align-items: center;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}

.linkButtonDupe>svg {
	width: 1em;
	height: 1em;
	margin-right: 0.5em;
	transform: translateY(-0.07em);
}

.linkButtonDupe>svg * {
	fill: #0290C3;
}
.welcome-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.main-scroll-box {
	width: 75%;
	margin: 80px 0;
}
.sidetabs-hero {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.sidetabs-hero > svg {
	height: 60px;
	fill: white;
	transform: translateY(-4px);
}
.sidetabs-hero > h1 {
	font-size: 60px;
	margin: 0 0 0 25px;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 20px;
}

main {
	background: #181818;
	box-shadow: 0 2px 7px 0 #000000aa;
	border-radius: 3px;
	padding: 50px;
}
main h2 {
	margin: 0 0 30px 0;
	color: #F5C828;
}
main section:not(:last-of-type) {
	margin-bottom: 60px;
}

section.customising-section > div {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
section.customising-section > div > div > p:first-of-type {
	margin-top: 0;
}
section.customising-section  .custom-diagram {
	width: 300px;
	flex-shrink: 0;
	margin-left: 20px;
}