:root {
	--background-colour: #1c1b22;
}
body {
	background: var(--background-colour);
	color: white;
}
hr {
	width: 90%;
	height: 0;
	border: 0px;
	border-bottom: 1px solid #999;
}
#pinnedTabsDiv > hr:only-child {
	display: none;
}
.tab {
	display: flex;
	align-items: center;
	border-radius: 2px;
	margin: 4px;
	box-sizing: border-box;
	--tab-color: var(--background-colour);
	background: var(--tab-color);
	position: relative;
	overflow: hidden;
}
.tabIcon {
	width: 16px;
	height: 16px;
	margin: 5px;
	flex-shrink: 0;
	box-sizing: content-box;
	transition: opacity 200ms ease, transform 200ms ease;
}
.tabIcon[src=""] {
	visibility: hidden;
}
.tab.loading > .tabIcon {
	opacity: 0.7;
	transform: scale(0.9);
}
.tab.discarded {
	opacity: 0.7;
}
.tab > * {
	z-index: 2;
}
.tab.finishLoad:after {
	content: "";
	position: absolute;
	left: 0;
	height: 100%;
	z-index: 1;
	background: rgb(51, 102, 212);
	border-radius: 0px 5px 5px 0px;
	animation: finishLoad 400ms ease-out;
}
@keyframes finishLoad {
	from {
		width: 0%;
		opacity: 90%;
	}
	to {
		opacity: 0%;
		width: 100%;
	}
}
.tabText {
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	width: 100%;
	margin-right: 5px;
	margin-left: 2px;
}
.tabCloseBtn {
	display: none;
	width: 13px;
	margin-right: 5px;
	cursor: pointer;
}
.tabText:after {
	content: "";
	position: absolute;
	right: 0;
	width: 20px;
	bottom: 0;
	top: 0;
	background: linear-gradient(to right, transparent, var(--tab-color));
}
.tab.activeTab {
	--tab-color: #42414d;
}
.tab:hover:not(.activeTab) {
	--tab-color: #34333a;
}
.tab:hover > .tabCloseBtn {
	display: block;
}
