.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}
.heading img {
	width: 100px;
	filter: brightness(2.5);
}
.heading h1 {
	font-family: "Metropolis", sans-serif;
	font-weight: bold;
	font-size: 64px;
}
.heading > .hero h1 {
	margin-left: 25px;
}
.heading > .hero {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 20px;
}
.main,
.footer {
	width: min(900px, 90%);
	/* border: 1px solid grey; */
}
.mainSection {
	background: #181818;
	box-shadow: 0 2px 7px 0 #000000aa;
	padding: 20px;
	margin: 10px 0px;
	overflow: auto;
	border-radius: 3px;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.kbd {
	display: inline-block;
	font-family: sans-serif;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0.2em 0.5em;
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px rgb(0, 0, 0) inset;
	background-color: #1d1d1d;
}
pre {
	padding: 0.5em 0.7em;
	border-radius: 5px;
	width: max-content;
}
.code,
pre {
	font-family: monospace;
	background-color: #1d1d1d;
}
.code {
	display: inline-block;
	font-family: monospace;
	padding: 0.1em 0.3em;
	border-radius: 2px;
	background-color: #1d1d1d;
}
h2 {
	margin: 10px 0px 18px 0px;
}
.main img {
	margin: 10px;
}
.footer {
	margin: 100px 0px 30px 0px;
	color: white;
	opacity: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}
.optionsLink {
	text-align: center;
}