.diagram-svg:hover svg .top-bar,
.diagram-svg:hover svg .page-content {
	transform: translateY(-32);
}
.diagram-svg:hover svg .sidebar {
	transform: translateY(-57.6);
}

.diagram-svg svg .top-bar,
.diagram-svg svg .page-content,
.diagram-svg svg .sidebar {
	transition: transform 0.5s ease-in-out;
}